[
{rabbit, [
    {loopback_users, []},
        {ssl_listeners, [5671]},
        {ssl_options, [{cacertfile,"~/rmq_CA/rmqca/cacert.pem"},
            {certfile,"~/rmq_CA/server/cert.pem"},
            {keyfile,"~/rmq_CA/server/key.pem"},
            {verify,verify_peer},
            {fail_if_no_peer_cert,false}]}
]}
].
